@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&family=Roboto+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    border-bottom: 1px solid rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links li{
    padding-bottom: 5px;
    display: inline-block;
    padding: 8px 20px;
}
.nav-links a{
    text-decoration: none;
    color: #555;
    font-weight: 600;
}
.logo img{
    width: 250px;
}
nav .fa-bars{
    font-size: 30px;
    color: #06325E;
    display: none;
    cursor: pointer;
}
.nav-links li::after{
    content: "";
    background-color: #2A166F;
    width: 0;
    display: block;
    height: 3px;
    margin: auto;
    border-radius: 1px;
    transition: 0.5s;
}
.nav-links li:hover::after{
    width: 100%;
}
.container{
    height: 90vh;
    width: 100%;
    background: radial-gradient(rgba(255, 255, 255, 0.113), rgba(255, 255, 255, 0.113)), url(https://images.unsplash.com/photo-1615461066841-6116e61058f4?q=80&w=1883&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container h1{
    font-size: 60px;
    margin-left: 50px;
    padding-top: 200px;
    color: #2A166F;
}
.container p{
    margin-left: 50px;
    color: #2A166F;
    font-size: 20px;
    font-weight: 700;
}
/******Welcome Section*******/
.welcome{
    margin-top: 30px;
    padding: 0 50px;
    text-align: justify;
    font-weight: 500;
}
.title{
    font-size: 40px;
    padding: 30px 0;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 600;
    background-color: #2A166F;
    color: #fff;
}
.welcome p{
    color: #555;
}
.small-container{
    max-width: 1300px;
    padding: 0 50px;
    margin: 30px auto;
    position: relative;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Our mission */
.col-5{
    flex-basis: 40%;
    text-align: justify;
}
.col-5 h1{
    color: #2A166F;
}
.col-5 p{
    color: #555;
    font-weight: 600;
}
.col-6{
    flex-basis: 50%;
    min-width: 350px;
}
.col-6 img{
    width: 100%;    
}

/* contact  */
.free{
    margin-top: 90px;
}
.col-2{
    flex-basis: 50%;
    min-width: 250px;
}
.col-2 img{
    width: 100%;
}
.col-4{
    flex-basis: 50%;
}
.col-4 h2{
    font-size: 35px;
    color: #06325E;
    margin-bottom: 30px;
    font-weight: 500;
}
.col-4 h3{
    font-size: 25px;
    color: #555;
    margin-bottom: 30px;
    font-weight: 400;
}
.col-4 p{
    font-weight: 500;
    color: #777;
    margin-bottom: 60px;
}
.feel{
    margin-left: 50px;
}
.whatsapp a{
    font-size: 50px;
    cursor: pointer;
    color: #075e54;
    position: fixed;
    right: 4%;
    bottom: 7%;
}

/* footer */
.footer{
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 16px 0 20px;
}
.footer-col-2{
    flex-basis: 30%;
    max-width: 280px;
    margin-bottom: 30px;
}
.footer-col-2 h4,p{
    display: inline;
}
.footer-col-2 h4{
    margin-bottom: 5px;
}
.footer-col-1 p{
    padding-top: 15px;
}
.footer-col-2 h3{
    padding-bottom: 20px;
}
.footer-col-3{
    flex-basis: 20%;
    min-width: 230px;
}
.footer-links{
    margin-bottom: 40px;
}
.footer-links li{
    list-style: none;
    padding-top: 20px;
}
.footer-links a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #8a8a8a;
}
.footer-links i{
    font-size: 20px;
    padding-right: 5px;
}
.footer-links a:hover{
    text-decoration: underline;
    color: blue;
}
.footer hr{
    width: 80%;
    margin: 10px auto;
    border: 0.5px solid #8a8a8a;
}
#red{
    color: red;
    font-size: 22px;
}
.copyright{
    padding: 5px;
    display: block;
    text-align: center;
    font-size: 16px;
}
/* our mission */
.growth{
    margin-top: 60px;
    background-color: #3530312E;
    padding: 30px 0;
}
.col-7{
    flex-basis: 50%;
    min-width: 300px;
}
.col-7 img{
    width: 100%;
}
.col-8{
    flex-basis: 40%;
    min-width: 300px;
}
.col-8 p{
    text-align: justify;
}
.col-8 h2{
    font-size: 28px;
    color: #2A166F;
}
.col-8 p{
    text-align: justify;
    color: #555;
    font-weight: 600;
}
.free{
    margin-top: 90px;
}
.col-2{
    flex-basis: 50%;
    min-width: 250px;
}
.col-2 img{
    width: 100%;
}
.col-4{
    flex-basis: 50%;
}
.col-4 h2{
    font-size: 35px;
    color: #06325E;
    margin-bottom: 30px;
    font-weight: 500;
}
.col-4 h3{
    font-size: 25px;
    color: #555;
    margin-bottom: 30px;
    font-weight: 400;
}
.col-4 p{
    font-weight: 500;
    color: #777;
    margin-bottom: 60px;
}
.feel{
    margin-left: 50px;
} 
/* CSS FOR RESPONSIVENESS */
@media only screen and (max-width :700px){
    .logo img{
        width: 180px;
        position: fixed;
        top: 4%;
        left: 7%;
    }
    .navbar{
        position: fixed;
        top: 0;
        z-index: 1;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background-color: #fff;
        text-align: right;
        max-height: 110px;
        overflow: hidden;
        transition: transform 0.3s;
    }
    .container{
        height: 60vh;
    }
    .nav-links li{
        padding: 5px 0;
        display: block;
    }
    nav .fa-bars{
        position: fixed;
        right: 7%;
        top: 7%;
        font-size: 30px;
        display:block;
    }
    .hide-menu{
        max-height: 350px;
    }
    .container h1{
        font-size: 7vw;
        padding-top: 200px;
    }
    .container p{
        font-size: 3vw;
    }
    .title{
        font-size: 6vw;
    }
    .col-1{
        flex: 100%;
    }
    .col-m{
        margin-top: 20px;
        flex: 1;
    }
    .col-2{
        flex: 1;
    }
    .col-3{
        margin-top: 20px;
        flex: 1;
    }
    .col-4{
        flex: 1;
    }
    .feel{
        margin-left: 0;
        padding-left: 0;
        text-align: justify;
    }
    .nav-links li:hover::after{
        width: 0;
    }
    .col-4 h2{
        font-size: 7vw;
        margin-left: 0;
    }.sub-title{
        font-size: 7vw;
    }
    .product-range{
        padding: 0px;
        margin: 0;
    }
    .col-4 h3{
        font-size: 4vw;
        font-weight: 800;
    }
    .whatsapp a{
        font-size: 13vw;
    }
    .footer-col-2,.footer-col-3,.footer-col-4{
        flex: 1;
    }
    .footer-col-3,.footer-col-4{
        margin-left: 20px;
    }
    .copyright{
        margin: 0px 17px;
        font-size: 4vw;
        padding: 0 17px;
    }
}
/*******CSS for responsiveness of About page********/
@media only screen and (max-width :700px){
    .about-container{
        margin-top: 110px;
        display: fixed;
    }
    .about-list{
        margin-left: 10px;
    }
    .about-list h3{
        font-size: 5vw;
    }
    .col-5 h1{
        font-size: 7.5vw;
    }
    .col-5{
        flex: 1;
    }
    .col-5 p{
        padding-top: 30px;
    }
    .col-6 img{
        width: 100%;
        padding: 0 30px;
        margin-top: 50px;
    }
    .col-8{
        flex: 1;
        text-align: justify;
    }
    .col-8 h2{
        margin-top: 20px;
        font-size: 8vw;
    }
    .col-8 p{
        margin-top: 10px;
    }
    .certification h2{
        font-size: 6vw;
        text-align: center;
    }
    .col-9{
        flex: 1;
        text-align: justify;
        padding-bottom: 30px;
    }
    .col-9 img{
        padding-bottom: 20px;
    }
}
